<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Name</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Site.Data.authors }}
    <tr>
      <td class="nick-cell">
        <img src="https://www.gravatar.com/avatar/{{ .email | md5 }}?s=50&d=identicon" class="avatar" />
        <a href="https://git.codingworkshop.eu.org/xt-sys/exectos/commits/branch/master/search?q=author%3A{{ .nick }}">
          <span>{{ .nick }}</span>
        </a>
      </td>
      <td>{{ .name }}</td>
      <td>{{ .role }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
