<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta http-equiv="Content-type" content="application/xhtml+xml;charset=utf-8" />
    <!--meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" /-->
    <meta name="viewport" content="width=device-width, initial-scale=0.1">
    <title>{{ $title := print .Site.Title " | " .Title }}{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}{{ $title }}</title>
</head>
